server:
  port: 8085
spring:
  application:
    name: payment-service
  datasource:
    url: jdbc:mysql://localhost:3306/retail_payment_db?createDatabaseIfNotExist=true&useSSL=false
    username: root
    password: Deepika@18
  jpa:
    hibernate:
      ddl-auto: update
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
