server:
  port: 8761

eureka:
  instance:
    hostname: localhost
  client:
    # Don't register itself as a client
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    # Disable self-preservation mode for development
    enableSelfPreservation: false
    eviction-interval-timer-in-ms: 3000

spring:
  application:
    name: eureka-server

# Logging
logging:
  level:
    com.netflix.eureka: INFO
    com.netflix.discovery: INFO
